/* body {
    margin: 0; 
    overflow: hidden; 
    background: #0d1117;
  }
  
  canvas {
    display: block;
  }
   */
  body {
  margin: 0;
  overflow: hidden;
  background: #0d1117;
}

canvas {
  position: absolute;
  pointer-events: none;
}
.ok {
  color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.fa-solid{
  margin-left: 10px;
  color: white;
}
.fas{
  margin-left: 10px;
  color: white;
}